In [1]:
import pandas as pd

In [2]:
s=pd.Series(['A',"B","C"])

In [3]:
s

0    A
1    B
2    C
dtype: object

In [9]:
df=pd.DataFrame(['x','y','z'],columns=['Name'],index=[100,200,300])

In [10]:
df

    Name
100    x
200    y
300    z

In [12]:
import numpy as np

In [13]:
from numpy import random

In [18]:
d=pd.DataFrame(np.random.randn(3,4),columns=['col1','col2','col3','col4'])

In [19]:
d

       col1      col2      col3      col4
0 -0.723332 -0.107680  2.374937 -0.263194
1  0.099252 -1.029503  0.506332 -0.383734
2 -0.102957 -2.016401  0.889974  1.853389

In [ ]:
#access
loc[]
iloc[]

In [27]:
d.loc[2]#

col1   -0.102957
col2   -2.016401
col3    0.889974
col4    1.853389
Name: 2, dtype: float64

In [28]:
x

col1   -0.102957
col2   -2.016401
col3    0.889974
col4    1.853389
Name: 2, dtype: float64

In [30]:
y=d.iloc[2]

In [31]:
y

col1   -0.102957
col2   -2.016401
col3    0.889974
col4    1.853389
Name: 2, dtype: float64

In [34]:
d['col4']=d['col1']+d['col2']

In [35]:
d

       col1      col2      col3      col4
0 -0.723332 -0.107680  2.374937 -0.831013
1  0.099252 -1.029503  0.506332 -0.930251
2 -0.102957 -2.016401  0.889974 -2.119358

In [36]:
d.shape

(3, 4)

In [37]:
d.size

12

In [38]:
type(d)

pandas.core.frame.DataFrame

In [ ]:
type(d['col1'])

In [42]:
data=pd.read_excel("Stressdataset.xlsx")

In [43]:
data

   s.no    name  age  traditional educational approaches   Stress of exam
0     1  puneet   25                                    1               1